*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Orbitron',sans-serif;
}

body{

background:#05010f;

display:flex;
justify-content:center;
align-items:center;

min-height:100vh;

overflow:hidden;

color:white;
}

/* Background Aura */

.bg-glow{

position:absolute;

border-radius:50%;

filter:blur(140px);

opacity:.5;

z-index:-1;
}

.glow1{

width:400px;
height:400px;

background:#7c3aed;

top:-100px;
left:-100px;

animation:move1 12s infinite alternate;
}

.glow2{

width:500px;
height:500px;

background:#a855f7;

right:-150px;
bottom:-150px;

animation:move2 15s infinite alternate;
}

@keyframes move1{

from{
transform:translate(0,0);
}

to{
transform:translate(150px,100px);
}

}

@keyframes move2{

from{
transform:translate(0,0);
}

to{
transform:translate(-150px,-100px);
}

}

/* Form Container */

.container{

width:90%;
max-width:600px;

background:
rgba(255,255,255,.05);

backdrop-filter:blur(20px);

border:
1px solid rgba(255,255,255,.08);

padding:40px;

border-radius:25px;

box-shadow:
0 0 40px rgba(168,85,247,.25);

animation:fadeIn 1s ease;
}

@keyframes fadeIn{

from{

opacity:0;

transform:
translateY(40px);

}

to{

opacity:1;

transform:
translateY(0);

}

}

h1{

text-align:center;

font-size:32px;

color:#c084fc;

margin-bottom:10px;
}

.subtitle{

text-align:center;

margin-bottom:30px;

color:#d8b4fe;
}

.input-box{

margin-bottom:20px;
}

label{

display:block;

margin-bottom:8px;

color:#d8b4fe;
}

input,
textarea{

width:100%;

padding:14px;

background:
rgba(255,255,255,.06);

border:
1px solid rgba(255,255,255,.1);

border-radius:12px;

color:white;

outline:none;

transition:.3s;
}

input:focus,
textarea:focus{

border-color:#c084fc;

box-shadow:
0 0 15px #a855f7;
}

button{

width:100%;

padding:15px;

border:none;

border-radius:12px;

cursor:pointer;

font-size:16px;

font-weight:bold;

background:
linear-gradient(
135deg,
#7c3aed,
#c084fc);

color:white;

transition:.4s;
}

button:hover{

transform:
translateY(-3px);

box-shadow:
0 0 20px #c084fc;
}

#result{

margin-top:20px;

text-align:center;

font-weight:bold;
}

/* Mobile */

@media(max-width:600px){

.container{

padding:25px;
}

h1{

font-size:24px;
}

}